# frozen_string_literal: true

require "application_system_test_case"

module <%= module_class_name %>
  class ComponentSystemTest < ApplicationSystemTestCase
    def test_default_preview
      visit("/rails/view_components/sitepress/<%= File.join(class_path, file_name) %>/default")

      # assert_text "Hello!"
      # click_on("Click me!")
      # assert_text "Good-bye!"
    end
  end
end
