---
title: Blog
breadcrumb: Blog
---
<%= c_sitepress_container(PageModel.new(current_page)) do |container| %>
  <div class="flex flex-col space-y-8">
    <ul class="list-none">
      <% ArticleModel.articles.each do |article| %>
        <%= c_sitepress_article_card(article) %>
      <% end %>
    </ul>
  </div>
<% end %>
