---
title: berry.sh
breadcrumb: Home
---

<div class="flex flex-col">
  <main class="grow">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="h1 pb-16 pt-12 accent-amber-100">
        👋 I'm Eric
      </h1>
      <p class="text-xl text-slate-300 mb-12 text-left">
        With over 16 years of hands-on experience as a Ruby on Rails enthusiast, I specialize in the end-to-end
        development lifecycle of enterprise-grade web applications. From design and prototyping to deployment and
        maintenance, I've consistently delivered revenue-generating solutions.
      </p>
      <p class="text-xl text-slate-300 mb-12 text-left">
        This website acts as my personal blog, but also my playground with various Rails and Hotwire patterns.
        Please feel free to view the code on
        <a class="link" href="https://github.com/coderberry/berry">GitHub</a>.
      </p>
      <div class="max-w-xs mx-auto sm:max-w-none sm:inline-flex sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4">
        <div>
          <a class="btn text-slate-900 bg-gradient-to-r from-white/80 via-white to-white/80 hover:bg-white w-full transition duration-150 ease-in-out group" href="https://resume.io/r/j3XGOzm83">
            View my resume
            <span class="tracking-normal text-black group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
          </a>
        </div>
        <div>
          <a class="btn text-slate-200 hover:text-white bg-slate-900 bg-opacity-25 hover:bg-opacity-30 w-full transition duration-150 ease-in-out" href="/blog">
            <svg class="shrink-0 fill-slate-300 mr-3 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M2 4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4ZM4 5V19H20V5H4ZM6 7H12V13H6V7ZM8 9V11H10V9H8ZM14 9H18V7H14V9ZM18 13H14V11H18V13ZM6 15V17L18 17V15L6 15Z"></path>
            </svg>
            <span>Read my blog</span>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
