<div class="flex-shrink flex flex-col bg-black rounded-b-md min-h-16 relative" data-demo-target="consoleWrapper">
  <div class="flex-shrink inline-block text-xs leading-4 h-6 bg-gray-700 text-gray-300 border-gray-700 px-2 pt-1 absolute right-0 rounded-bl-md">
    <div class="flex flex-row space-x-1 align-middle items-center">
      <span class="text-gray-400">Console</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           class="w-3 h-3 fill-gray-400 stroke-1 hover:fill-gray-200 cursor-pointer"
           data-action="click->demo#clearConsoleEvents">
        <path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM13.4142 13.9997L15.182 15.7675L13.7678 17.1817L12 15.4139L10.2322 17.1817L8.81802 15.7675L10.5858 13.9997L8.81802 12.232L10.2322 10.8178L12 12.5855L13.7678 10.8178L15.182 12.232L13.4142 13.9997ZM9 4V6H15V4H9Z"></path>
      </svg>
    </div>
  </div>
  <div data-demo-target="console" class="pb-2 flex flex-col divide-y divide-gray-700 space-y-1">
  </div>
</div>
