<%= render Sitepress::Page::Component.new(page) do |page| %>
  <% page.with_title(title: title) %>

  <h3 class="italic -mt-4">Published <%= published_at %> by Eric Berry</h3>

  <article class="prose prose prose-invert max-w-full mt-6">
    <%= render Image::Component.new(
      path: @banner_image_url,
      alt: title
    ) %>

    <%= content %>
  </article>
<% end %>
