<footer class="mb-12 mt-16 mx-auto">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="col-span-12 lg:col-span-4 order-1 lg:order-none text-center">
      <div class="h-full flex flex-col sm:flex-row lg:flex-col justify-between">
        <div class="mb-4 sm:mb-0">
          <div class="mb-2">
            <a class="block" href="/" aria-label="berry.sh">
              <a href="https://x.com/coderberry" aria-label="berry.sh">
                <h2 class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white/80 via-white to-white/80">@coderberry</h2>
              </a>
            </a>
          </div>
          <div class="text-sm text-slate-500">
            Rubyist &amp; Experienced SaaS Builder
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
